@font-face {
  font-family: playfair-display;
  src: url(../fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.woff2);
}

html {
  --ink-black: #04151f;
  --rich-mahogany: #4a1300;
  --dark-walnut: #5c2910;
  --coffee-bean: #82573e;
  --khaki-beige: #b6a089;
  --off-white: #f7f5f2;
}

body {
  background-color: var(--khaki-beige);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ink-black);
}

h1,
h2 {
  font-family: playfair-display, serif;
}

p {
  font-family: roboto, sans-serif;
}

header {
  padding: 25px;
  background-image: linear-gradient(
    150deg,
    var(--ink-black) 43%,
    var(--off-white) 43%
  );
}

.header-img-container {
  position: relative;
  margin-bottom: 30px;
}

.header-img-container img {
  box-shadow: 2px 2px 10px black;
}

header h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
}

header p {
  color: var(--dark-walnut);
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .header-img-container h1 {
    position: absolute;
    bottom: 0;
    padding: 10px;

    color: var(--off-white);
    font-size: 60px;
    line-height: 105%;
    text-shadow: 2px 2px 4px black;
  }
}
