@font-face {
  font-family: playfair-display;
  src: url(../fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.woff2);
}

html {
  --ink-black: #04151f;
  --ink-black-less: #04151f59;
  --rich-mahogany: #4a1300;
  --dark-walnut: #5c2910;
  --coffee-bean: #82573e;
  --khaki-beige: #b6a089;
  --off-white: #f7f5f2;
}

body {
  background-color: var(--off-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ink-black);
}

h1,
h2 {
  font-family: playfair-display, serif;
}

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-family: roboto, sans-serif;
  color: var(--dark-walnut);
}

header,
main {
  padding: 25px;
  margin-bottom: 50px;
}

i {
  color: var(--ink-black);
}

i:hover {
  color: var(--rich-mahogany);
  cursor: pointer;
}

header {
  background-image: linear-gradient(
    150deg,
    var(--ink-black) 43%,
    var(--off-white) 43%
  );
}

.header-img-container {
  position: relative;
  margin-bottom: 30px;
}

.header-img-container img {
  box-shadow: 2px 2px 10px black;
}

.header-img-container h1 {
  position: absolute;
  bottom: 0;
  padding: 10px;

  color: var(--off-white);
  font-size: 10.5vw;
  white-space: nowrap;
  line-height: 105%;
  text-shadow: 2px 2px 4px black;
}

header p {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials-container i {
  font-size: 30px;
}

main h2 {
  margin-bottom: 20px;
}

main .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

main .project-card {
  background-color: white;
  box-shadow: 2px 5px 8px rgb(180, 179, 179);
  margin-bottom: 50px;
  max-width: 400px;
}

.project-card .project-details {
  padding: 20px;
}

.project-card .project-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 25px;
  gap: 5px;
}

.project-details .icon-container {
  display: flex;
  gap: 10px;
}

.project-details h3 {
  line-height: normal;
}

footer {
  background-color: var(--rich-mahogany);
}

footer h2,
footer p {
  color: var(--off-white);
}

.contact-container {
  padding: 20px;
  margin-bottom: 40px;
}

.contact-container div {
  margin-bottom: 25px;
}

.contact-container .socials-container i {
  font-size: 40px;
  color: var(--off-white);
}

.socials-container i:hover {
  color: var(--khaki-beige);
}

/* MOBILE */
@media (min-width: 768px) {
  main {
    padding-top: 0;
  }

  main h2 {
    text-align: left;
  }

  main .projects {
    gap: 40px;
    justify-content: center;
  }

  main .project-card {
    flex: 1 1 290px;
  }

  footer {
    display: flex;
    padding: 30px;
  }

  footer .contact-container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-container .socials-container {
    justify-content: left;
  }

  .contact-container h2 {
    text-align: left;
  }

  footer img {
    max-width: 50%;
  }
}

/* TABLET */
@media (768px <= width < 1280px) {
  header,
  main {
    padding: 60px;
  }

  header {
    background-image: linear-gradient(
      170deg,
      var(--ink-black) 43%,
      var(--off-white) 43%
    );
    margin-bottom: 0;
  }

  .header-container h1 {
    color: var(--off-white);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    right: 10%;
    transform: scale(120%);
    font-size: 6vw;
    white-space: nowrap;
  }

  .header-img-container {
    float: left;
    width: 50%;
    transform-origin: bottom right;
    transform: scale(105%);
    margin-right: 20px;
    margin-bottom: 0;
  }

  .header-container .white-bg {
    background-color: white;
    padding: 40px;
    padding-top: 70px;
    box-shadow: 0px 1px 12px var(--ink-black-less);
  }

  .header-container h2 {
    margin-bottom: 10px;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  header .header-container,
  main,
  footer {
    margin: auto;
    padding: 0 100px;
  }

  header {
    padding: 50px 100px 50px 100px;
    margin: 0;

    background-image: linear-gradient(
      170deg,
      var(--ink-black) 60%,
      var(--off-white) 60%
    );
  }

  header .header-container {
    display: flex;
    padding: 0;
    align-items: center;
  }

  header .header-img-container {
    min-width: 40%;
    z-index: 1;
  }

  .header-img-container h1 {
    white-space: nowrap;
    font-size: 4.5vw;
  }

  header .about-me {
    padding: 20px;
    background-color: white;
    height: fit-content;
    box-shadow: 0px 1px 12px var(--ink-black-less);
  }

  .about-me h2 {
    text-align: left;
  }

  .about-me .socials-container {
    justify-content: right;
  }

  footer .contact-container {
    min-width: 35%;
  }

  footer img {
    min-width: 65%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 50% 20%;
  }
}

/* MINI */
@media (max-width: 370px) {
  header {
    background-image: none;
  }
}
