@font-face {
  font-family: playfair-display;
  src: url(../fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.woff2);
}

html {
  --ink-black: #04151f;
  --rich-mahogany: #4a1300;
  --dark-walnut: #5c2910;
  --coffee-bean: #82573e;
  --khaki-beige: #b6a089;
  --off-white: #f7f5f2;
}

body {
  background-color: var(--off-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ink-black);
}

h1,
h2 {
  font-family: playfair-display, serif;
}

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-family: roboto, sans-serif;
  color: var(--dark-walnut);
}

header,
main,
footer {
  padding: 25px;
}

header,
main {
  margin-bottom: 50px;
}

i {
  color: var(--ink-black);
}

i:hover {
  color: var(--rich-mahogany);
  cursor: pointer;
}

header {
  background-image: linear-gradient(
    150deg,
    var(--ink-black) 43%,
    var(--off-white) 43%
  );
}

.header-img-container {
  position: relative;
  margin-bottom: 30px;
}

.header-img-container img {
  box-shadow: 2px 2px 10px black;
}

header p {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials-container i {
  font-size: 30px;
}

main .projects {
  display: flex;
  flex-wrap: wrap;
}

main .project-card {
  background-color: white;
  box-shadow: 2px 5px 8px rgb(180, 179, 179);
  margin-bottom: 50px;
}

.project-card .project-details {
  padding: 20px;
}

.project-card .project-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 25px;
}

@media (max-width: 500px) {
  .header-img-container h1 {
    position: absolute;
    bottom: 0;
    padding: 10px;

    color: var(--off-white);
    font-size: 60px;
    line-height: 105%;
    text-shadow: 2px 2px 4px black;
  }
}
