@font-face {
  font-family: playfair-display;
  src: url(../fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.woff2);
}

h1,
h2 {
  font-family: playfair-display, serif;
}

p {
  font-family: roboto, sans-serif;
}
